.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border:8px solid #0000;
    border-radius: 50%;
    height: 215px;
    width: 215px;
    background: linear-gradient(white,white) padding-box, linear-gradient(94deg, #388AF3, #A483E2) border-box;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container > img {
    margin-bottom: 25px;
}
.send {
    color: #388AF3;
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.02em;

}

