.wrapper {
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 8px solid #0000;
    border-radius: 50%;
    height: 215px;
    width: 215px;
    background: linear-gradient(white, white) padding-box, linear-gradient(94deg, #388AF3, #A483E2) border-box;
    text-align: center;
    letter-spacing: 0.02em;
    line-height: 20px;
    font-size: 20px;
    font-family: 'Gilroy-Bold', sans-serif;
    font-style: normal;
    font-weight: 800;
    margin: 30px 0 100px 0;
}

.wrapperSent {
    background: #388AF3;
}


.animate.grow {
    position: absolute;
    animation: fly 2s linear 0s;
}

@keyframes fly {
    from {
        top: 20%;
        left: 50%;
        transform: scale(0.7)
    }
    to {
        top: 0;
        left: 100%;
        transform: scale(0.1)
    }
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper:hover {
    background: #388AF3;
}

.wrapper:hover .send {
    color: #FFFFFF;
}

.container > img {
    margin-bottom: 25px;
}

.send {
    color: #388AF3;

}

.sentMessage {
    color: #FFFFFF;
}

@media (min-width: 992px) {
    .wrapper {
        width: 227px;
        height: 227px;
        font-size: 20px;
    }
    .sentMessage {
        font-size: 20px;
    }
}

@media (min-width: 1920px) {
    .wrapper {
        position: absolute;
        top: 50%;
        left: 70%;
    }
}
