.wrapper {
    width: 115px;
    height: 15px;
    display: flex;
    font-size: 12px;
    line-height: 14px;
    margin-top: 60px;
    color: #303030;
}
.wrapper > a {
    text-decoration: none;
    color: #303030;
}
.wrapper > span {
    margin: 0 5px;
}
.contacts {
    font-family: 'Gilroy-Heavy', sans-serif;
    font-style: normal;
    font-weight: 300;
}